# Doughnut of Social and Planetary Boundaries

In a [recent paper in Nature](https://www.nature.com/articles/s41586-025-09385-1), Andrew L. Fanning and Kate Raworth examined the progress, or lack thereof, of meeting the needs of all people within the means of the living planet. To do that, they used a set of 35 indicators that monitor trends in social deprivation and ecological overshoot over the 2000–2022 period. They found that, although global gross domestic product (GDP) has more than doubled, there has been only a modest achievement in reducing human deprivation; at the same time, the increase in ecological overshoot does not bode well for Earth-system stability.

In this assignent, you will work through some of their results yoursefl. You will use their data, available at <https://doi.org/10.5281/zenodo.15688961>.

## The Social Foundation and Its Indicators of Shortfall

You will start by investigating the social foundation. To this end, you will reproduce the following version of Table 1 of the paper:

<style type="text/css">
#T_010fc th.col_heading {
  text-align: center;
}
#T_010fc th.col_heading.level0 {
  text-align: center;
}
#T_010fc th.col_heading.level1 {
  text-align: center;
}
#T_010fc_row0_col0, #T_010fc_row0_col1, #T_010fc_row1_col0, #T_010fc_row1_col1, #T_010fc_row2_col0, #T_010fc_row2_col1, #T_010fc_row3_col0, #T_010fc_row3_col1, #T_010fc_row4_col0, #T_010fc_row4_col1, #T_010fc_row5_col0, #T_010fc_row5_col1, #T_010fc_row6_col0, #T_010fc_row6_col1, #T_010fc_row7_col0, #T_010fc_row7_col1, #T_010fc_row8_col0, #T_010fc_row8_col1, #T_010fc_row9_col0, #T_010fc_row9_col1, #T_010fc_row10_col0, #T_010fc_row10_col1, #T_010fc_row11_col0, #T_010fc_row11_col1, #T_010fc_row12_col0, #T_010fc_row12_col1, #T_010fc_row13_col0, #T_010fc_row13_col1, #T_010fc_row14_col0, #T_010fc_row14_col1, #T_010fc_row15_col0, #T_010fc_row15_col1, #T_010fc_row16_col0, #T_010fc_row16_col1, #T_010fc_row17_col0, #T_010fc_row17_col1, #T_010fc_row18_col0, #T_010fc_row18_col1, #T_010fc_row19_col0, #T_010fc_row19_col1, #T_010fc_row20_col0, #T_010fc_row20_col1 {
  text-align: left;
}
</style>
<table id="T_010fc">
  <thead>
    <tr>
      <th id="T_010fc_level0_col0" class="col_heading level0 col0" >dimension</th>
      <th id="T_010fc_level0_col1" class="col_heading level0 col1" >indicator</th>
      <th id="T_010fc_level0_col2" class="col_heading level0 col2" colspan="2">date</th>
      <th id="T_010fc_level0_col4" class="col_heading level0 col4" colspan="2">value</th>
    </tr>
    <tr>
      <th id="T_010fc_level1_col0" class="col_heading level1 col0" ></th>
      <th id="T_010fc_level1_col1" class="col_heading level1 col1" ></th>
      <th id="T_010fc_level1_col2" class="col_heading level1 col2" >first</th>
      <th id="T_010fc_level1_col3" class="col_heading level1 col3" >last</th>
      <th id="T_010fc_level1_col4" class="col_heading level1 col4" >first</th>
      <th id="T_010fc_level1_col5" class="col_heading level1 col5" >last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_010fc_row0_col0" class="data row0 col0" >Connectivity</td>
      <td id="T_010fc_row0_col1" class="data row0 col1" >Population not accessing the internet</td>
      <td id="T_010fc_row0_col2" class="data row0 col2" >2000</td>
      <td id="T_010fc_row0_col3" class="data row0 col3" >2022</td>
      <td id="T_010fc_row0_col4" class="data row0 col4" >93.52</td>
      <td id="T_010fc_row0_col5" class="data row0 col5" >35.82</td>
    </tr>
    <tr>
      <td id="T_010fc_row1_col0" class="data row1 col0" >Connectivity</td>
      <td id="T_010fc_row1_col1" class="data row1 col1" >Urban population lacking convenient access to public<br>transport </td>
      <td id="T_010fc_row1_col2" class="data row1 col2" >2020</td>
      <td id="T_010fc_row1_col3" class="data row1 col3" >2020</td>
      <td id="T_010fc_row1_col4" class="data row1 col4" >52.71</td>
      <td id="T_010fc_row1_col5" class="data row1 col5" >52.71</td>
    </tr>
    <tr>
      <td id="T_010fc_row2_col0" class="data row2 col0" >Education</td>
      <td id="T_010fc_row2_col1" class="data row2 col1" >Adult population (aged 15+ years) who are illiterate</td>
      <td id="T_010fc_row2_col2" class="data row2 col2" >2000</td>
      <td id="T_010fc_row2_col3" class="data row2 col3" >2022</td>
      <td id="T_010fc_row2_col4" class="data row2 col4" >23.13</td>
      <td id="T_010fc_row2_col5" class="data row2 col5" >16.15</td>
    </tr>
    <tr>
      <td id="T_010fc_row3_col0" class="data row3 col0" >Education</td>
      <td id="T_010fc_row3_col1" class="data row3 col1" >Young adult population (aged 21-23 years) with<br>incomplete upper secondary education</td>
      <td id="T_010fc_row3_col2" class="data row3 col2" >2000</td>
      <td id="T_010fc_row3_col3" class="data row3 col3" >2022</td>
      <td id="T_010fc_row3_col4" class="data row3 col4" >60.87</td>
      <td id="T_010fc_row3_col5" class="data row3 col5" >36.91</td>
    </tr>
    <tr>
      <td id="T_010fc_row4_col0" class="data row4 col0" >Energy</td>
      <td id="T_010fc_row4_col1" class="data row4 col1" >Population lacking access to electricity</td>
      <td id="T_010fc_row4_col2" class="data row4 col2" >2000</td>
      <td id="T_010fc_row4_col3" class="data row4 col3" >2022</td>
      <td id="T_010fc_row4_col4" class="data row4 col4" >21.71</td>
      <td id="T_010fc_row4_col5" class="data row4 col5" >8.51</td>
    </tr>
    <tr>
      <td id="T_010fc_row5_col0" class="data row5 col0" >Energy</td>
      <td id="T_010fc_row5_col1" class="data row5 col1" >Population lacking access to clean fuels and<br>technologies for cooking, heating and lighting</td>
      <td id="T_010fc_row5_col2" class="data row5 col2" >2000</td>
      <td id="T_010fc_row5_col3" class="data row5 col3" >2022</td>
      <td id="T_010fc_row5_col4" class="data row5 col4" >50.49</td>
      <td id="T_010fc_row5_col5" class="data row5 col5" >25.92</td>
    </tr>
    <tr>
      <td id="T_010fc_row6_col0" class="data row6 col0" >Equality</td>
      <td id="T_010fc_row6_col1" class="data row6 col1" >Population-weighted score on the Gender Inequality<br>Index (global gap between women and men in terms of<br>reproductive health, empowerment and employment)</td>
      <td id="T_010fc_row6_col2" class="data row6 col2" >2000</td>
      <td id="T_010fc_row6_col3" class="data row6 col3" >2022</td>
      <td id="T_010fc_row6_col4" class="data row6 col4" >45.69</td>
      <td id="T_010fc_row6_col5" class="data row6 col5" >34.72</td>
    </tr>
    <tr>
      <td id="T_010fc_row7_col0" class="data row7 col0" >Food</td>
      <td id="T_010fc_row7_col1" class="data row7 col1" >Population with moderate to severe food insecurity</td>
      <td id="T_010fc_row7_col2" class="data row7 col2" >2015</td>
      <td id="T_010fc_row7_col3" class="data row7 col3" >2022</td>
      <td id="T_010fc_row7_col4" class="data row7 col4" >22.24</td>
      <td id="T_010fc_row7_col5" class="data row7 col5" >29.36</td>
    </tr>
    <tr>
      <td id="T_010fc_row8_col0" class="data row8 col0" >Food</td>
      <td id="T_010fc_row8_col1" class="data row8 col1" >Population undernourished</td>
      <td id="T_010fc_row8_col2" class="data row8 col2" >2000</td>
      <td id="T_010fc_row8_col3" class="data row8 col3" >2022</td>
      <td id="T_010fc_row8_col4" class="data row8 col4" >13.09</td>
      <td id="T_010fc_row8_col5" class="data row8 col5" >9.62</td>
    </tr>
    <tr>
      <td id="T_010fc_row9_col0" class="data row9 col0" >Health</td>
      <td id="T_010fc_row9_col1" class="data row9 col1" >Population living in countries without high coverage<br>ofessential health services (Universal Health<br>Coverage Index score less than 60 out of 100)</td>
      <td id="T_010fc_row9_col2" class="data row9 col2" >2000</td>
      <td id="T_010fc_row9_col3" class="data row9 col3" >2022</td>
      <td id="T_010fc_row9_col4" class="data row9 col4" >79.05</td>
      <td id="T_010fc_row9_col5" class="data row9 col5" >28.07</td>
    </tr>
    <tr>
      <td id="T_010fc_row10_col0" class="data row10 col0" >Health</td>
      <td id="T_010fc_row10_col1" class="data row10 col1" >Population living in countries with under-5<br>mortality rate exceeding 25 per 1,000 live births</td>
      <td id="T_010fc_row10_col2" class="data row10 col2" >2000</td>
      <td id="T_010fc_row10_col3" class="data row10 col3" >2022</td>
      <td id="T_010fc_row10_col4" class="data row10 col4" >75.40</td>
      <td id="T_010fc_row10_col5" class="data row10 col5" >42.62</td>
    </tr>
    <tr>
      <td id="T_010fc_row11_col0" class="data row11 col0" >Housing</td>
      <td id="T_010fc_row11_col1" class="data row11 col1" >Urban population living in slums or informal settlements</td>
      <td id="T_010fc_row11_col2" class="data row11 col2" >2000</td>
      <td id="T_010fc_row11_col3" class="data row11 col3" >2022</td>
      <td id="T_010fc_row11_col4" class="data row11 col4" >39.71</td>
      <td id="T_010fc_row11_col5" class="data row11 col5" >32.07</td>
    </tr>
    <tr>
      <td id="T_010fc_row12_col0" class="data row12 col0" >Income and work</td>
      <td id="T_010fc_row12_col1" class="data row12 col1" >Population living below the societal poverty line,<br> set at half their country's median household<br>income or at least $15 a day</td>
      <td id="T_010fc_row12_col2" class="data row12 col2" >2000</td>
      <td id="T_010fc_row12_col3" class="data row12 col3" >2022</td>
      <td id="T_010fc_row12_col4" class="data row12 col4" >84.92</td>
      <td id="T_010fc_row12_col5" class="data row12 col5" >72.51</td>
    </tr>
    <tr>
      <td id="T_010fc_row13_col0" class="data row13 col0" >Income and work</td>
      <td id="T_010fc_row13_col1" class="data row13 col1" >Population of young people (aged 15-24 years) not<br>in employment, education or training</td>
      <td id="T_010fc_row13_col2" class="data row13 col2" >2005</td>
      <td id="T_010fc_row13_col3" class="data row13 col3" >2022</td>
      <td id="T_010fc_row13_col4" class="data row13 col4" >24.97</td>
      <td id="T_010fc_row13_col5" class="data row13 col5" >20.31</td>
    </tr>
    <tr>
      <td id="T_010fc_row14_col0" class="data row14 col0" >Peace and justice</td>
      <td id="T_010fc_row14_col1" class="data row14 col1" >Population stating that they perceive<br>widespread corruption in government and business</td>
      <td id="T_010fc_row14_col2" class="data row14 col2" >2005</td>
      <td id="T_010fc_row14_col3" class="data row14 col3" >2022</td>
      <td id="T_010fc_row14_col4" class="data row14 col4" >79.94</td>
      <td id="T_010fc_row14_col5" class="data row14 col5" >74.78</td>
    </tr>
    <tr>
      <td id="T_010fc_row15_col0" class="data row15 col0" >Peace and justice</td>
      <td id="T_010fc_row15_col1" class="data row15 col1" >Population living in countries with a homicide rate<br>of 5 or more per 100,000</td>
      <td id="T_010fc_row15_col2" class="data row15 col2" >2000</td>
      <td id="T_010fc_row15_col3" class="data row15 col3" >2022</td>
      <td id="T_010fc_row15_col4" class="data row15 col4" >28.45</td>
      <td id="T_010fc_row15_col5" class="data row15 col5" >19.52</td>
    </tr>
    <tr>
      <td id="T_010fc_row16_col0" class="data row16 col0" >Political voice</td>
      <td id="T_010fc_row16_col1" class="data row16 col1" >Population living in countries governed by an autocratic regime</td>
      <td id="T_010fc_row16_col2" class="data row16 col2" >2000</td>
      <td id="T_010fc_row16_col3" class="data row16 col3" >2022</td>
      <td id="T_010fc_row16_col4" class="data row16 col4" >46.64</td>
      <td id="T_010fc_row16_col5" class="data row16 col5" >70.76</td>
    </tr>
    <tr>
      <td id="T_010fc_row17_col0" class="data row17 col0" >Social cohesion</td>
      <td id="T_010fc_row17_col1" class="data row17 col1" >Population living in countries with a Palma ratio of 2 or more<br> (the income share of the richest 10% of people relative<br>to the poorest 40%)</td>
      <td id="T_010fc_row17_col2" class="data row17 col2" >2000</td>
      <td id="T_010fc_row17_col3" class="data row17 col3" >2022</td>
      <td id="T_010fc_row17_col4" class="data row17 col4" >71.33</td>
      <td id="T_010fc_row17_col5" class="data row17 col5" >64.67</td>
    </tr>
    <tr>
      <td id="T_010fc_row18_col0" class="data row18 col0" >Social cohesion</td>
      <td id="T_010fc_row18_col1" class="data row18 col1" >Population stating that they are without someone to<br>count on in times of trouble</td>
      <td id="T_010fc_row18_col2" class="data row18 col2" >2005</td>
      <td id="T_010fc_row18_col3" class="data row18 col3" >2022</td>
      <td id="T_010fc_row18_col4" class="data row18 col4" >20.47</td>
      <td id="T_010fc_row18_col5" class="data row18 col5" >23.01</td>
    </tr>
    <tr>
      <td id="T_010fc_row19_col0" class="data row19 col0" >Water</td>
      <td id="T_010fc_row19_col1" class="data row19 col1" >Population lacking access to safely managed drinking water</td>
      <td id="T_010fc_row19_col2" class="data row19 col2" >2000</td>
      <td id="T_010fc_row19_col3" class="data row19 col3" >2022</td>
      <td id="T_010fc_row19_col4" class="data row19 col4" >39.31</td>
      <td id="T_010fc_row19_col5" class="data row19 col5" >36.64</td>
    </tr>
    <tr>
      <td id="T_010fc_row20_col0" class="data row20 col0" >Water</td>
      <td id="T_010fc_row20_col1" class="data row20 col1" >Population lacking access to safely managed sanitation</td>
      <td id="T_010fc_row20_col2" class="data row20 col2" >2000</td>
      <td id="T_010fc_row20_col3" class="data row20 col3" >2022</td>
      <td id="T_010fc_row20_col4" class="data row20 col4" >66.31</td>
      <td id="T_010fc_row20_col5" class="data row20 col5" >41.17</td>
    </tr>
  </tbody>
</table>

## The Ecological Ceiling and Its Indicators of Overshoot

You will continue with the ecological ceiling by reproducing the following version of Table 2 of the paper:

<style type="text/css">
#T_82495 th.col_heading {
  text-align: center;
}
#T_82495 th.col_heading.level0 {
  text-align: center;
}
#T_82495 th.col_heading.level1 {
  text-align: center;
}
#T_82495_row0_col0, #T_82495_row0_col1, #T_82495_row1_col0, #T_82495_row1_col1, #T_82495_row2_col0, #T_82495_row2_col1, #T_82495_row3_col0, #T_82495_row3_col1, #T_82495_row4_col0, #T_82495_row4_col1, #T_82495_row5_col0, #T_82495_row5_col1, #T_82495_row6_col0, #T_82495_row6_col1, #T_82495_row7_col0, #T_82495_row7_col1, #T_82495_row8_col0, #T_82495_row8_col1, #T_82495_row9_col0, #T_82495_row9_col1, #T_82495_row10_col0, #T_82495_row10_col1, #T_82495_row11_col0, #T_82495_row11_col1, #T_82495_row12_col0, #T_82495_row12_col1 {
  text-align: left;
}
</style>
<table id="T_82495">
  <thead>
    <tr>
      <th id="T_82495_level0_col0" class="col_heading level0 col0" >dimension</th>
      <th id="T_82495_level0_col1" class="col_heading level0 col1" >indicator</th>
      <th id="T_82495_level0_col2" class="col_heading level0 col2" colspan="2">date</th>
      <th id="T_82495_level0_col4" class="col_heading level0 col4" colspan="2">value</th>
    </tr>
    <tr>
      <th id="T_82495_level1_col0" class="col_heading level1 col0" ></th>
      <th id="T_82495_level1_col1" class="col_heading level1 col1" ></th>
      <th id="T_82495_level1_col2" class="col_heading level1 col2" >first</th>
      <th id="T_82495_level1_col3" class="col_heading level1 col3" >last</th>
      <th id="T_82495_level1_col4" class="col_heading level1 col4" >first</th>
      <th id="T_82495_level1_col5" class="col_heading level1 col5" >last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_82495_row0_col0" class="data row0 col0" >Air pollution</td>
      <td id="T_82495_row0_col1" class="data row0 col1" >Arithmetic Error Asymmetry between Earth's hemispheres of sunlight<br>reaching the surface, owing to differences in atmospheric particle<br>concentration (at most 0.1 inter-hemispheric difference in Aerosol<br>Optical Depth)</td>
      <td id="T_82495_row0_col2" class="data row0 col2" >2000</td>
      <td id="T_82495_row0_col3" class="data row0 col3" >2022</td>
      <td id="T_82495_row0_col4" class="data row0 col4" >0.08</td>
      <td id="T_82495_row0_col5" class="data row0 col5" >0.08</td>
    </tr>
    <tr>
      <td id="T_82495_row1_col0" class="data row1 col0" >Biodiversity breakdown</td>
      <td id="T_82495_row1_col1" class="data row1 col1" >Rate of species extinctions per million species<br>years (at most 10 E/MSY)</td>
      <td id="T_82495_row1_col2" class="data row1 col2" >2000</td>
      <td id="T_82495_row1_col3" class="data row1 col3" >2022</td>
      <td id="T_82495_row1_col4" class="data row1 col4" >100.00</td>
      <td id="T_82495_row1_col5" class="data row1 col5" >100.00</td>
    </tr>
    <tr>
      <td id="T_82495_row2_col0" class="data row2 col0" >Biodiversity breakdown</td>
      <td id="T_82495_row2_col1" class="data row2 col1" >Human appropriation of net primary productivity,<br>billions of tonnes of carbon per year (at most 10% of 55.9 Gt C)</td>
      <td id="T_82495_row2_col2" class="data row2 col2" >2000</td>
      <td id="T_82495_row2_col3" class="data row2 col3" >2020</td>
      <td id="T_82495_row2_col4" class="data row2 col4" >14.60</td>
      <td id="T_82495_row2_col5" class="data row2 col5" >16.80</td>
    </tr>
    <tr>
      <td id="T_82495_row3_col0" class="data row3 col0" >Chemical pollution</td>
      <td id="T_82495_row3_col1" class="data row3 col1" >Production of hazardous chemicals, millions of tonnes<br>per year (at most 5% of the 1,200 Mt of total chemicals<br>produced in year 2000)</td>
      <td id="T_82495_row3_col2" class="data row3 col2" >2000</td>
      <td id="T_82495_row3_col3" class="data row3 col3" >2017</td>
      <td id="T_82495_row3_col4" class="data row3 col4" >1186.00</td>
      <td id="T_82495_row3_col5" class="data row3 col5" >2276.00</td>
    </tr>
    <tr>
      <td id="T_82495_row4_col0" class="data row4 col0" >Climate change</td>
      <td id="T_82495_row4_col1" class="data row4 col1" >Atmospheric carbon dioxide concentration, parts per million<br>(at most 350 ppm CO2)</td>
      <td id="T_82495_row4_col2" class="data row4 col2" >2000</td>
      <td id="T_82495_row4_col3" class="data row4 col3" >2022</td>
      <td id="T_82495_row4_col4" class="data row4 col4" >368.96</td>
      <td id="T_82495_row4_col5" class="data row4 col5" >417.07</td>
    </tr>
    <tr>
      <td id="T_82495_row5_col0" class="data row5 col0" >Climate change</td>
      <td id="T_82495_row5_col1" class="data row5 col1" >Human-induced radiative forcing at the top of the atmosphere,<br> Watt per square metre (at most 1 W m**(-2))</td>
      <td id="T_82495_row5_col2" class="data row5 col2" >2000</td>
      <td id="T_82495_row5_col3" class="data row5 col3" >2022</td>
      <td id="T_82495_row5_col4" class="data row5 col4" >1.77</td>
      <td id="T_82495_row5_col5" class="data row5 col5" >2.91</td>
    </tr>
    <tr>
      <td id="T_82495_row6_col0" class="data row6 col0" >Freshwater disruption</td>
      <td id="T_82495_row6_col1" class="data row6 col1" >Proportion of land area with human-induced disturbance of blue-water<br>flow deviating from Holocene variability (at most 10.2%)</td>
      <td id="T_82495_row6_col2" class="data row6 col2" >2000</td>
      <td id="T_82495_row6_col3" class="data row6 col3" >2005</td>
      <td id="T_82495_row6_col4" class="data row6 col4" >0.18</td>
      <td id="T_82495_row6_col5" class="data row6 col5" >0.19</td>
    </tr>
    <tr>
      <td id="T_82495_row7_col0" class="data row7 col0" >Freshwater disruption</td>
      <td id="T_82495_row7_col1" class="data row7 col1" >Proportion of land area with root-zone soil moisture deviating from<br>Holocene variability (at most 11.1%)</td>
      <td id="T_82495_row7_col2" class="data row7 col2" >2000</td>
      <td id="T_82495_row7_col3" class="data row7 col3" >2014</td>
      <td id="T_82495_row7_col4" class="data row7 col4" >15.43</td>
      <td id="T_82495_row7_col5" class="data row7 col5" >19.25</td>
    </tr>
    <tr>
      <td id="T_82495_row8_col0" class="data row8 col0" >Land conversion</td>
      <td id="T_82495_row8_col1" class="data row8 col1" >Area of forested land as a proportion of forest-covered land before<br>human alteration (at least 75% of 64 million square kilometres)</td>
      <td id="T_82495_row8_col2" class="data row8 col2" >2000</td>
      <td id="T_82495_row8_col3" class="data row8 col3" >2020</td>
      <td id="T_82495_row8_col4" class="data row8 col4" >39.21</td>
      <td id="T_82495_row8_col5" class="data row8 col5" >38.27</td>
    </tr>
    <tr>
      <td id="T_82495_row9_col0" class="data row9 col0" >Nutrient pollution</td>
      <td id="T_82495_row9_col1" class="data row9 col1" >Nitrogen applied to land as fertilizer, millions of tonnes per year<br>(at most 62 Mt per year)</td>
      <td id="T_82495_row9_col2" class="data row9 col2" >2000</td>
      <td id="T_82495_row9_col3" class="data row9 col3" >2022</td>
      <td id="T_82495_row9_col4" class="data row9 col4" >132.24</td>
      <td id="T_82495_row9_col5" class="data row9 col5" >194.34</td>
    </tr>
    <tr>
      <td id="T_82495_row10_col0" class="data row10 col0" >Nutrient pollution</td>
      <td id="T_82495_row10_col1" class="data row10 col1" >Phosphorus applied to land as fertilizer, millions of tonnes per year<br>(at most 6.2 Mt per year)</td>
      <td id="T_82495_row10_col2" class="data row10 col2" >2000</td>
      <td id="T_82495_row10_col3" class="data row10 col3" >2022</td>
      <td id="T_82495_row10_col4" class="data row10 col4" >13.55</td>
      <td id="T_82495_row10_col5" class="data row10 col5" >23.17</td>
    </tr>
    <tr>
      <td id="T_82495_row11_col0" class="data row11 col0" >Ocean acidification</td>
      <td id="T_82495_row11_col1" class="data row11 col1" >Average saturation state of aragonite at the ocean surface<br>(at least 80% of pre-industrial saturation state of 3.44 Ωarag)</td>
      <td id="T_82495_row11_col2" class="data row11 col2" >2000</td>
      <td id="T_82495_row11_col3" class="data row11 col3" >2022</td>
      <td id="T_82495_row11_col4" class="data row11 col4" >2.99</td>
      <td id="T_82495_row11_col5" class="data row11 col5" >2.79</td>
    </tr>
    <tr>
      <td id="T_82495_row12_col0" class="data row12 col0" >Ozone depletion</td>
      <td id="T_82495_row12_col1" class="data row12 col1" >Concentration of ozone in the stratosphere, Dobson units<br>(at most 5% decrease with respect to 1964-1980 value of 290 DU)</td>
      <td id="T_82495_row12_col2" class="data row12 col2" >2000</td>
      <td id="T_82495_row12_col3" class="data row12 col3" >2021</td>
      <td id="T_82495_row12_col4" class="data row12 col4" >284.30</td>
      <td id="T_82495_row12_col5" class="data row12 col5" >284.58</td>
    </tr>
  </tbody>
</table>

## Country Clusters

You will create a trellis plot that displays the ecological overshoot, for each indicator, for countries grouped according to their wealth (bottom-40, middle-40, top-20).

<img src="clusters_ecological.svg" />

You will create a trellis plot that displays the social shorfall, for each indicator, for countries grouped according to their wealth (bottom-40, middle-40, top-20).

<img src="clusters_social.svg" />

## Sandwitch plot

You will create a plot showing both the ecological overshoot, and the social shortfall, as shown below.  Light red bars show the reduction in shortfall or overshoot between the start and end periods. Dark red bars show the increase in shortfall or overshoot between the start and end periods.

<img src="sandwich.svg" />

## Doughnut Plot

You will finally create the [Doughnut Plot](doughnut.html). The authors of the paper note that, with respect to their original plot: "Values are proportional to the length of each wedge, which leads to a quadratic scaling of wedge area that may lead some readers to perceive small changes as more significant than they are." Therefore in your version the values will be proportional to the area of each wedge. Also, you can scale the outer wedges by dividing with a constant to make them fit to a reasonable amount of space.

In [1]:
from IPython.display import IFrame

IFrame("doughnut.html", width="100%", height=600)

## Evaluation

Your work will be evaluated for completeness and quality. There is no absolute measure by which a 10/10 is awarded. The best submissions will get the top grades, and the rest will be graded accordingly. Grading will take into account:

* Is the work engaging?

* Is the approach explained well enough?

* Have the questions been answered perfunctorily, or do the answers exhibit attention and care?

## Submission Instructions

You must submit your assignment as a Jupyter notebook that will contain the full code and documentation of how you solved the questions, and all other necessary files. Your submission must be fully replicable: that is, somebody reading it must be able to do exactly what you did and obtain the same results.

The documentation must be at the level where somebody that has some knowledge of Python can understand exactly what you are doing and why. Your output must be as user-friendly as possible. It should not contain ladles of output that is not related to the output and does not inform the reader.

## Honor Code

You understand that this is an individual assignment, and as such you must carry it out alone. You may seek help on the Internet, on ChatGPT/Gemini/etc., by Googling or searching in StackOverflow for general questions pertaining to the use of Python and pandas libraries and idioms. However, it is not right to ask direct questions that relate to the assignment and where third parties will actually solve your problem by answering them. You may discuss with your colleagues in order to better understand the questions, if they are not clear enough, but you should not ask them to share their answers with you, or to help you by giving specific advice.